$bg-color : #235390;
$slash-color : #F2F2F2;
$lightblue-color :#1CB0F6;
$input-color:#F7F7F7;
$input-text-color: #BFAFAF;
$btn-shadow : #1AA8EB;
$slash-text:#AFAFAF;
$fb: #435B90;
$google:#5B8BDD;
$checkbar:#29C979;
$btn-shadow:#8F8900;
$btn:#61E002;
$processbar:#E5E5E5;
$exit:#CDCDCD;
$exit-color:#A7A7A7;
$exit-hover:#E5E5E5;
