
$listenbutton : #1cb0f6;        $forwardbutton: #FFBF00;
$listenshadow : #468bab;        $forwardshadow: #D19D00;
$listenhover :#1fc2ff; 
.content{
    position: relative;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    .img-box{
        justify-content: center;
        display: flex;
        max-width: 800px;
        max-height: 500px;
       >img{
        max-width: 800px;
        max-height: 500px;
        border-radius: 10%;
       }
    }
    .text{
        position: relative;
        font-size: 2rem;
        text-align: center;
        
       
        .support{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            display: none;
            border-radius: 10px;
            font-family: Sono;
            min-width: 160px;
            min-height: 140px;
            background-color: #eeeeee;
            .raw{
                
            }
            .translate-text{
                color:rgb(206, 63, 63)
            }
        }
    }
    .interact{
        flex-direction: column;
        display: flex;
        width: 100px;
        height: 200px;
        position: absolute;
        right: 10px;
        top: 30%;
        .speak, .forward, .backward{
            margin: 5px -10px;
            display: flex;    
            justify-content: center ;
            align-items: center;
            font-size: 1.5rem;
            color: #FFFF;
            border-radius: 25%;
            width: 50px;
            height: 50px;
            cursor: pointer;
            
          
        }
        
        .speak{
            background-color: $listenbutton;
            border-bottom: 3px solid $listenshadow;
        }
        .forward,.backward{
            background-color: $forwardbutton;
            border-bottom: 3px solid $forwardshadow;
        }
        .speak:active ,.forward:active ,.backward:active{
            border-bottom:0px;
            transform: translate(0px,2%);
        }
    }
}