

.container{
    display: flex;
    width: 80%;
    align-items: center;
    padding: 6px 0px;
    .index{
      min-width: 50px;
      font-size: 2rem;
      font-weight: 600;
    }
    .info{
        display: flex;
        flex:auto;
        min-height: 50px;
        border-radius: 5px;
        border: 2px solid rgb(201, 198, 198);
        >img{
            width: 50px;
            height: 50px;
        }
        .name{
            flex: 1;
            font-size: 1.5rem;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            span:nth-of-type(2) {
                font-size: 1.2rem;
                font-style: italic;
                color: rgb(174, 174, 174);
            }
        }
        .exp{
            display: flex;
            align-items: center;
            flex: 1;
            font-size: 1.8rem;
            font-weight: 600;
        }
        .rate{
            display: flex;
            align-items: center;
            flex: 1;
            font-size: 1.8rem;
            font-weight: 600;
        }
        .question{
            display: flex;
            align-items: center;
            flex: 1;
            font-size: 1.8rem;
            font-weight: 600;
        }
    }
}