

.nav-bar{
   position: relative;
}
   .content{
      display: flex;
      
      .rev{
         display: flex;
         position: absolute;
         width: 400px;
         flex-direction: row-reverse;
         bottom: 50px;
         right: 0px;
         .mode{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFFF;
            font-family: LionetteSemi;
            font-size: 3rem;
            cursor: pointer;
            font-weight: 400;
            width: 100px;
            height: 100px;
            margin-left: 8px;
            border-radius: 16px;
            background-image: radial-gradient( circle farthest-corner at 49.9% 51%,  rgba(118,159,224,1) 0%, rgba(85,137,219,1) 100.2% );
         }
         
      }
   
   }
 